.button {
    font-family: Graph Condensed;
    font-weight: bold;
    font-size: 1.7rem;

    /* identical to box height */
    display: flex;
    align-items: center;

    a {
        color: @content-white;
        background: @red;
        border-radius: 3px;
        padding: 0 1.25rem;
    }
}