.contribution-container {
    color: @content-black;

    .social-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            color: @content-black;
        }
    }
}