.contact-link-group {
    display: flex;
    flex-flow: row wrap;

    .contact-link-item {
        text-align: center;
        padding-right: 20px;
        padding-bottom: 20px;

        a {
            color: @content-gray;
        }
    }
}