.enumeration-item {
    .image {
        height: 100%;
        min-height: 200px;
    }

    .enumeration-content {
        background: @tile-background;
        color: @content-gray;
        padding: 40px;

        .enumeration {
            font-family: @title-font;
            font-weight: bold;
            font-size: 6rem;
        }

        .enumeration-title {
            font-family: @title-font;
            font-weight: bold;
            font-size: 2.25rem;
        }

        p {
            font-family: @content-font;
            font-size: 1.125rem;
        }
    }
}