.toolbar {
    display: flex;
    justify-content: center;

    .header {
        width: 100%;
        &.desktop {
            max-width: 720px;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    padding-top: 10px;
    &.mobile {
        padding-bottom: 10px;
    }
    
    .MuiSvgIcon-root{
        font-size: 26px;
    }
}

.navigation {
    color: @header-black;
    font-family: @header-font;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    border-bottom: none;

    &.desktop {
        text-align: center;
        margin-top: 8px;
    }
    &.mobile {
        text-align: inherit;
    }

    &:hover {
        border-bottom: none;
    }

    a {
        color: @header-black;
    }

    // a:hover{
    //     color: @header-secondary;
    // }

    .selected {
        a {
            border-bottom: 4px solid @header-black;
        }

        // a:hover {
        // }
    }

    .donate {
        margin-top: 6px;
        margin-left: -6px;
        span {
            border: 3px solid @header-secondary;
        }
        box-sizing: border-box;
        padding: 6px;
    }
}

.submenu-container {
    transition: opacity 0.3s linear, border-bottom 0.3s linear, height 0.3s linear, padding-top 0.3s linear; /* Transition effect when sliding down (and up) */
    height: 40px;

    &.hidden {
        border-bottom: initial;
        padding-top: 0px;
        opacity: 0;
        height: 0;

        .submenu-separator {
            opacity: 0;
        }
    }

    .submenu-separator { // FIXME: Hacky
        border: 2px solid #BCBCBC;
        width: 1000%;
        margin-left: -300%;
    }
}

.submenu {

    .contribution-container {
        color: @header-gray;
        .social-links {
            a {
                color: @header-gray;
            }
        }
        .selector {
            border-right-style: none;
            padding-right: none;
        }
    }
    font-family: @title-font;
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;

    &.desktop{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 10px;
        .contribution-container {
            &:not(:last-child){
                padding-right: 80px;
            }
        }
    }

    .contribution-container {
        &.languages {
            width: 120px;
        }
        .selector {
            font-size: 26px;
            line-height: 26px;
        }
    }

    &.mobile{
        display: unset;
        .contribution-container {
            padding-top: 20px;
        }
    }

    .MuiSvgIcon-root{
        font-size: 26px;
    }
}

.drawer-right {
    width: 200px;
    padding-left: 20px;
}